body {
    margin: 0;
    padding: 0;
    font-family: PT Sans, sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
    font-weight: 400;
}

ul, ol {
    list-style-type: none;
}

.white-letters {
    color: white;
}

.logo {
    width: 139px;
    height: 70px;
}

.wanna-go-here {
    width: 160px;
    display: block;
    background: #756257;
    border-radius: 4px;
    padding: 9px 15px 8px 15px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.welcome-picture {
    width: 1200px;
    height: 485px;
}

.reasons-intro-title {
    width: 720px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.reasons-intro-text {
    width: 720px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

.reasons-block, .reasons-block-icon {
    width: 400px;
    height: 384px;
}

.blue-reasons {
    color: white;
    background-color: #83B3D3;
}

.light-blue-reasons {
    background-color: rgba(131, 179, 211, 0.12);
}

.darker-light-blue-reasons {
    background-color: rgba(131, 179, 211, 0.20);
}

.reasons-title {
    width: 400px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

.reasons-title-wicon {
    width: 250px;
}

.reasons-text {
    width: 250px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.reasons-text-wpic {
    width: 220px;
}

.interested-title {
    width: 720px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.interested-text {
    width: 720px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.search-for-hotel {
    width: 575px;
    display: block;
    background: #756257;
    border-radius: 10px;
    padding: 15px 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.index-subscribe {
    background-image: url(../img/bg/subscribe-background.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}

.subscribe-title {
    width: 720px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
}

.subscribe-text {
    width: 720px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.hotels-subscribe {
    width: 800px;
    height: 241px;
}

.subscribe-input {
    width: 600px;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    line-height: 26px;
}

.subscribe-button {
    width: 200px;
    background-color: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    padding: 1px 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.telephone {
    width: 720px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
}

.hotels-search-header {
    background-image: url(../img/bg/search-background.jpg);
    background-repeat: no-repeat;
    width: 1200px; 
    height: 408px;
}

.hotel-card {
    width: 340px;
}

.hotel-card-image {
    width: 300px; 
    height: 206px;
}